<!doctype html>
<html lang="vi" class="js">
{{template "header.html"}}

<body class="nk-body bg-white npc-default pg-auth no-touch nk-nio-theme">
    <div class="nk-app-root" id="root">
        <!-- main @s  -->
        <div class="nk-main ">
            <!-- wrap @s  -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s  -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body wide-xs" style="width: 520px; margin-left: auto;
                    margin-right: auto;">
                        <div class="brand-logo pb-4 text-center">
                            <a href="/" class="logo-link">
                                <img class="logo-dark logo-img logo-img-lg" src="/assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="card">
                                <div class="card-inner card-inner-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Đăng nhập</h4>
            </div>
        </div>
        <form class="form-ajax" data-done="loginSuccess">
            <div class="form-group">
                <div class="form-label-group">
                    <label class="form-label">Tài khoản hoặc Email</label>
                </div>
                <input v-model="user.username" type="text" class="form-control form-control-lg" placeholder="Nhập tài khoản hoặc email" required="">
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <label class="form-label" for="password">Mật khẩu</label>
                </div>
                <div class="form-control-wrap">
                    <input v-model="user.password" type="password" class="form-control form-control-lg" id="password" placeholder="Nhập mật khẩu" required="">
                    <a href="javascript:void(0)" class="form-icon form-icon-right passcode-switch" data-target="password">
                        <em class="passcode-icon icon-show icon ni ni-eye"></em>
                        <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                    </a>
                </div>
                <div style="text-align: right"><a class="link link-primary link-sm" href="/reset_pass">Quên mật khẩu?</a></div>
            </div>
            <div class="form-group">
                <button v-on:click="loginUser()" type="button" class="btn btn-lg btn-primary btn-block">Đăng nhập</button>
            </div>
        </form>
        <div class="form-note-s2 text-center pt-4"> Bạn chưa có tài khoản? <a href="/register">Đăng ký</a>
        </div>

    </div>

                        </div>
                    </div>
                </div>
                <!-- wrap @e  -->
            </div>
            <!-- content @e  -->
        </div>
        <!-- main @e  -->
    </div>
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/login.js"></script>
  
</body>
</html>